<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"       
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>
        <h:outputText value=": #{msg['application.name']} - #{msg['application.version']} : "/>
        <ui:insert name="title" />
    </title>
    <h:outputStylesheet name="css/styles.css"/>
</h:head>
<h:body>
    <div style="font-weight: bold;">
        <h:graphicImage value="#{resource['img:icon_java.gif']}"/>
        <ui:insert name="title" />
    </div>
    <hr />
    <ui:insert name="body" />
</h:body>
</html>