<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">#{msg['page.index.title']}</ui:define>
    <ui:define name="body">
	    <h:form>
	        <h:commandLink action="usuarios?faces-redirect=true"
	        	value="#{msg['page.usuarios.title']}" /><br/>
	        <h:commandLink action="jogo?faces-redirect=true"
	        	value="#{msg['page.jogo.title']}" /><br/>        	
	        <h:commandButton action="logout?faces-redirect=true"
	        	value="#{msg['page.logout.title']}" />
	    </h:form>    
    </ui:define>

</ui:composition>