<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<ui:decorate template="template.xhtml">
	<ui:define name="centro">
		<ui:param name="jogoDaVelhaBean" value="#{jogoDaVelhaBean}" />
		<style>
		.ui-widget{
			font-family: cursive;		
		}
		.cell-block {
			width: 100px;
			height: 80px;
			display: inline-block;
			padding: 0;
			margin: 0;
			float: left;
			text-align: center;
		}
		
		.top-left, .top-right {
			border-bottom: 1px solid black;
		}
		
		.top-center {
			border-bottom: 1px solid black;
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
		
		.bottom-center {
			border-left: 1px solid black;
			border-right: 1px solid black;
		}
		
		.gamePosition {
			width: 100%;
			height: 100%;
			display: block;
			font-size: 50px;
			margin-top: 10px;
		}
		
		#controleJogo{
			width: 200px;
			table-layout:fixed;
		}
		
		#controleJogo th, #controleJogo td{
			
		}
		
		#controleJogo td{
			text-align: left;
			overflow: hidden;
		}
		
		#log{
			background-color: Gainsboro;
			width: auto;
			height: 90px;
			text-align: left;
			font-size: 10px;
			font-family: sans-serif;
			padding: 10px;
		}
</style>
		<h:form>
			<h2>Jogo da Velha</h2>
			<p:panelGrid columns="2" id="jogo">
				<h:panelGroup id="controleJogo">
						
						<table id="controleJogo">
							<col width="75px" />
    						<col width="75px" />
							<tr>
								<td colspan="2">
									<h3>
										<h:outputText value="Nome do jogadores: " />
									</h3>
								</td>								
							</tr>
							<tr>
								<td style="width: 75px;">
									<h:outputLabel value="Jogador O: " />														
								</td>
								<td>
									<p:inputText value="#{jogoDaVelhaBean.jogador1.nome}" style="width: 95px;"></p:inputText>
								</td>
							</tr>
							<tr>
								<td style="width: 75px;">
									<h:outputLabel value="Jogador X: " />
							
								</td>
								<td>
									<p:inputText value="#{jogoDaVelhaBean.jogador2.nome}" style="width: 95px;"></p:inputText>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<p:commandButton action="#{jogoDaVelhaBean.novoJogo}"
									value="Novo/Reiniciar Jogo" update="panelJogo" style="width: 100%; margin: 5px 0; padding: 5px 0;" />
									
								</td>
								
							</tr>
							<tr>
								<td colspan="2"><hr /></td>
							</tr>
							<tr>
								<td colspan="2">
									<div id="log">
										<i>instruções: </i>
										<h:outputText value="É a vez do jogador '#{jogoDaVelhaBean.jogadorDaVez.nome}'"
										rendered="#{jogoDaVelhaBean.jogoIniciado}" />
										<h:outputText value="Fim de jogo, vencedor é '#{jogoDaVelhaBean.jogadorDaVez.nome}'"
										rendered="#{jogoDaVelhaBean.jogoFinalizado}" />
										<h:outputText value="Fim de jogo, empate, inicie um novo jogo."
										rendered="#{jogoDaVelhaBean.jogoEmpatado}" />	
									
									</div>																
								</td>
							</tr>
						</table>
										
				</h:panelGroup>
				<h:panelGroup id="panelJogo">
					<div>
						<div class="cell-block top-left">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(0)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[0])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[0]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block top-center">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(1)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[1])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[1]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block top-right">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(2)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[2])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[2]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
					</div>
					<div>
						<div class="cell-block top-left">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(3)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[3])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[3]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block top-center">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(4)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[4])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[4]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block top-right">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(5)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[5])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[5]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
					</div>
					<div>
						<div class="cell-block ">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(6)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[6])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[6]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block bottom-center">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(7)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[7])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[7]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
						<div class="cell-block ">
							<h:commandLink styleClass="gamePosition"
								action="#{jogoDaVelhaBean.marca(8)}"
								disabled="#{jogoDaVelhaBean.desabilitaCampo(jogoDaVelhaBean.campo[8])}">
								<h:outputText value="#{jogoDaVelhaBean.campo[8]}" />
								<p:ajax update="jogo" />
							</h:commandLink>
						</div>
					</div>
					<div style="clear: both; height: 20px; width: 100%"></div>
				</h:panelGroup>
			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:decorate>
</html>
