<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">#{msg['page.logout.title']}</ui:define>
    <ui:define name="body">
	    <h:outputText value="#{msg['page.logout.mensagem']}" />
	    <h:form>
	        <h:commandLink value="#{msg['page.index.title']}"
	            action="index?faces-redirect=true" />
	    </h:form>
    </ui:define>

</ui:composition>