<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Jogo da Velha</title>
	<style type="text/css">
body {
	background-color: #eeeeee;
	font-size: 12px
}
</style>
</h:head>
<h:body>
	<div align="center">
		<p:layout>

			<p:layoutUnit position="center">
				<p:messages id="messages" autoUpdate="true" closable="true" />
				<ui:insert name="centro">

				</ui:insert>
			</p:layoutUnit>

		</p:layout>
	</div>
</h:body>
</html>
