<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/WEB-INF/templates/padrao.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">#{msg['page.usuariosEditar.title']}</ui:define>
    <ui:define name="body">
		<h:messages globalOnly="true" errorStyle="color:red" />
		<h:form id="usuarioForm">
			<h:inputHidden value="#{usuarioBean.usuario.id}" />
			<h:panelGrid columns="3">
				<h:outputLabel for="idInput"
					value="#{msg['page.usuarios.label.id']}:" />
				<h:inputText id="idInput" value="#{usuarioBean.usuario.id}"
					disabled="true" />
				<h:panelGroup />
	
				<h:outputLabel for="cpfInput"
					value="#{msg['page.usuarios.label.cpf']}:" />
				<h:inputText id="cpfInput" required="true"
					value="#{usuarioBean.usuario.cpf}"
					converter="converters.CpfConverter">
					<f:validator validatorId="validators.CpfValidator" />
				</h:inputText>
				<h:message for="cpfInput" />
	
				<h:outputLabel for="nomeReduzidoInput"
					value="#{msg['page.usuarios.label.nomeReduzido']}:" />
				<h:inputText id="nomeReduzidoInput" required="true"
					value="#{usuarioBean.usuario.nomeReduzido}">
					<f:validateLength minimum="3" />
				</h:inputText>
				<h:message for="nomeReduzidoInput" />
	
				<h:outputLabel for="nomeCompletoInput"
					value="#{msg['page.usuarios.label.nomeCompleto']}:" />
				<h:inputTextarea id="nomeCompletoInput"
					value="#{usuarioBean.usuario.nomeCompleto}" rows="5" cols="20" />
				<h:message for="nomeCompletoInput" />
	
				<h:outputLabel for="dataNascimentoInput"
					value="#{msg['page.usuarios.label.dataNascimento']}:" />
				<h:inputText id="dataNascimentoInput" value="#{usuarioBean.usuario.dataNascimento}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:inputText>
				<h:message for="dataNascimentoInput" />
	
				<h:outputLabel for="emailInput"
					value="#{msg['page.usuarios.label.email']}:" />
				<h:inputText id="emailInput" required="true" 
					value="#{usuarioBean.usuario.email}" />
				<h:message for="emailInput" />
	
				<h:outputLabel for="senhaInput"
					value="#{msg['page.usuarios.label.senha']}:" />
				<h:inputText id="senhaInput" required="true" 
					value="#{usuarioBean.usuario.senha}" />
				<h:message for="senhaInput" />
				
				<h:outputLabel for="cpfInput"
					value="#{msg['page.usuarios.label.cep']}:" />
				<h:inputText id="cepInput" required="true"
					value="#{usuarioBean.usuario.cep}"
					converter="converters.CepConverter">
					<f:validator validatorId="validators.CepValidator" />
				</h:inputText>
				<h:message for="cepInput" />
				
			</h:panelGrid>
			<hr />
			<h:commandButton action="#{usuarioBean.salvar}"
				value="#{msg['commons.salvar']}" />
			<h:commandButton action="usuarios" 
				value="#{msg['commons.voltar']}"
				immediate="true" />
		</h:form>
    </ui:define>

</ui:composition>